## 2.For 문

In [1]:
test_list = ['one',  'two', 'three']

for i in test_list:
    print(i)

one
two
three

In [2]:
a = [(1,2)],(3,4),(5,6)]
for (first, last) in a:
    print(first + last)

SyntaxError: unmatched ']' (1150401394.py, line 1)

In [5]:
a = [1,2), (3.4). (5.6)]
print(a[2])
print(a[2][0])

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (1053767382.py, line 1)

In [6]:
for (first, last) in a :
    print(first + last)

NameError: name 'a' is not defined

In [9]:
test_list = ['one', 'two', 'three')
for i in test_list:
print(i)

SyntaxError: closing parenthesis ')' does not match opening parenthesis '[' (3661586164.py, line 1)

In [10]:
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

​

number = 0   # 학생에게 붙여 줄 번호

for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입

    number +=  1 

    if mark >= 60: 

        print("%d번 학생은 합격입니다." % number)

    else: 

        print("%d번 학생은 불합격입니다." % number)

SyntaxError: invalid non-printable character U+200B (1522472300.py, line 3)

In [11]:
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0   # 학생에게 붙여 줄 번호

for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입

    number +=  1 

    if mark >= 60: 

        print("%d번 학생은 합격입니다." % number)

    else: 

        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [19]:
marks = [90, 25, 67, 43, 89]

number = 0

for mark in marks:
    number += 1
    
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else :
        
        ("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
3번 학생은 합격입니다.
5번 학생은 합격입니다.

In [20]:
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0   # 학생에게 붙여 줄 번호

for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입

    number +=  1 

    if mark >= 60: 
        continue

        print("%d번 학생은 합격입니다." % number)

In [21]:
for (first, last) in a:
    print(first + list)

NameError: name 'a' is not defined

###  for  문과 함께 자주 사용하는 range 함수

In [22]:
a =range(10)
a

range(0, 10)

In [23]:
a = list(a)

In [24]:
a = range(10)
print(a)
print(type(a))

range(0, 10)
<class 'range'>

In [25]:
a = list(a)
print(a)
print(type(a))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [26]:
a = list(range(1, 11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
a = list(range(15, 20))
a

[15, 16, 17, 18, 19]

In [28]:
add = 0

for i in range(1, 11):
    add += i

print(add)

55

In [30]:
add = 0

for i in range(1, 11):
    add += i
    print(add)

print("-"*20)
print(add)

1
3
6
10
15
21
28
36
45
55
--------------------
55

In [33]:
marks = [90, 25, 67, 43, 89]

number = 0

for i in range(len(marks)):
    number += 1
    if marks[i] >= 60:
        continue
    print("%d번 학생은 불합격입니다." % number)

2번 학생은 불합격입니다.
4번 학생은 불합격입니다.

In [34]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생은 합격입니다." % number)

0번 학생은 합격입니다.
2번 학생은 합격입니다.
4번 학생은 합격입니다.

In [35]:
# 구구단
for i in range(2, 10):
    for j in range(1, 10):
        print("%d * %d = %d"%(i, j, i*j))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [36]:
# 구구단
for i in range(2, 10):
    print("%d단"%i)
    for j in range(1, 10):
        print("%d * %d = %d"%(i, j, i*j))
        print("-"*20)

2단
2 * 1 = 2
--------------------
2 * 2 = 4
--------------------
2 * 3 = 6
--------------------
2 * 4 = 8
--------------------
2 * 5 = 10
--------------------
2 * 6 = 12
--------------------
2 * 7 = 14
--------------------
2 * 8 = 16
--------------------
2 * 9 = 18
--------------------
3단
3 * 1 = 3
--------------------
3 * 2 = 6
--------------------
3 * 3 = 9
--------------------
3 * 4 = 12
--------------------
3 * 5 = 15
--------------------
3 * 6 = 18
--------------------
3 * 7 = 21
--------------------
3 * 8 = 24
--------------------
3 * 9 = 27
--------------------
4단
4 * 1 = 4
--------------------
4 * 2 = 8
--------------------
4 * 3 = 12
--------------------
4 * 4 = 16
--------------------
4 * 5 = 20
--------------------
4 * 6 = 24
--------------------
4 * 7 = 28
--------------------
4 * 8 = 32
--------------------
4 * 9 = 36
--------------------
5단
5 * 1 = 5
--------------------
5 * 2 = 10
--------------------
5 * 3 = 15
--------------------
5 * 4 = 20
--------------------
5 * 5 = 25
--------------------
5 * 6 = 30
--------------------
5 * 7 = 35
--------------------
5 * 8 = 40
--------------------
5 * 9 = 45
--------------------
6단
6 * 1 = 6
--------------------
6 * 2 = 12
--------------------
6 * 3 = 18
--------------------
6 * 4 = 24
--------------------
6 * 5 = 30
--------------------
6 * 6 = 36
--------------------
6 * 7 = 42
--------------------
6 * 8 = 48
--------------------
6 * 9 = 54
--------------------
7단
7 * 1 = 7
--------------------
7 * 2 = 14
--------------------
7 * 3 = 21
--------------------
7 * 4 = 28
--------------------
7 * 5 = 35
--------------------
7 * 6 = 42
--------------------
7 * 7 = 49
--------------------
7 * 8 = 56
--------------------
7 * 9 = 63
--------------------
8단
8 * 1 = 8
--------------------
8 * 2 = 16
--------------------
8 * 3 = 24
--------------------
8 * 4 = 32
--------------------
8 * 5 = 40
--------------------
8 * 6 = 48
--------------------
8 * 7 = 56
--------------------
8 * 8 = 64
--------------------
8 * 9 = 72
--------------------
9단
9 * 1 = 9
--------------------
9 * 2 = 18
--------------------
9 * 3 = 27
--------------------
9 * 4 = 36
--------------------
9 * 5 = 45
--------------------
9 * 6 = 54
--------------------
9 * 7 = 63
--------------------
9 * 8 = 72
--------------------
9 * 9 = 81
--------------------

#### 리스트 컴프리헨선(comprehension)

In [40]:
a = [1,2,3,4]
result = []

for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [41]:
# 리스트 컴프리멘션으로 표현
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [43]:
a = [1,2,3,4]
result = [num*3 for num in a if num%2==0]
print(result)

[6, 12]

In [44]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 1) 기본구조 : [표현식 + for 문]

In [45]:
# 표현식에 변수 도는 상수를 쓰는 경우
n = 5
result = [0 for i in range(n)]
print(result)

[0, 0, 0, 0, 0]

In [46]:
result = [i for i in range(n)]
print(result)

[0, 1, 2, 3, 4]

In [49]:
array = list(range)
result = [n for n in array]

TypeError: 'type' object is not iterable

In [ ]:
array = list(range(10))
result = [n for n in

In [50]:
result = [n*n for n in array]
print(result)

NameError: name 'array' is not defined

In [51]:
str_array = ["List",  "comprehension", "python"]
result = [len(string) for string in str_array]
print(result)

[4, 13, 6]

In [53]:
def mod_5(number):
    return number % 5

array = [10, 23, 45, 67, 89]  # 예시 배열

result = [mod_5(n) for n in array]
print(result)

[0, 3, 0, 2, 4]

### [포현식+ for문 +조건문]

In [55]:
#if 문을 한번 사용한 경우
result = [n for n in range(10) if n%2!==0]
print(result)

SyntaxError: invalid syntax (359149991.py, line 2)

In [56]:
result = [n for n in range(10) if n % 2 != 0]
print(result)

[1, 3, 5, 7, 9]

In [57]:
array = [-1, 0, -4, 24, 5, -10, 2]
result = [n for n in array if n>0]
print(result)

[24, 5, 2]

In [58]:
#if 문을 여러번 사용한 경우
result = [n for n in range(50) if n%3==0 if n%2==0]
print(result)

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [59]:
#if 문을 여러번 사용한 경우
result = [n for n in range(50) if n%3==0 and n%2==0]
print(result)

[0, 6, 12, 18, 24, 30, 36, 42, 48]

### [표현식 + 조건문 + for문]

In [60]:
array = [-1, 0, -4, 24, 5, -10, 2]
result = [n if n>0 else 0 ]
print(result)

[5]

In [62]:
array = [0,1,2,3]
result = ['even' if n%2==0 else 'odd' for n in array]
print(result)

['even', 'odd', 'even', 'odd']

###  중첩 for 문

In [64]:
pos * []
for i in range(1, 4) :
    for j in range(1,3):
        pos.append(i*j)

pos = [ i*j for i in range(3,4) for j in range(1,3)

_IncompleteInputError: incomplete input (1950505872.py, line 6)

In [65]:
# 1. 먼저 빈 리스트 생성
pos = []

# 2. 중첩 for문을 사용해서 값 추가
for i in range(1, 4):
    for j in range(1, 3):
        pos.append(i * j)

print("중첩 for문 결과:", pos)

# 3. 리스트 컴프리헨션 사용
pos = [i * j for i in range(3, 4) for j in range(1, 3)]
print("리스트 컴프리헨션 결과:", pos)

중첩 for문 결과: [1, 2, 2, 4, 3, 6]
리스트 컴프리헨션 결과: [3, 6]

###  5) 중첩 List Comprehension

In [68]:
# 2차원 배열 만들기

result = [[0 for i in range(2)] for j in range(3)]
print(result)

[[0, 0], [0, 0], [0, 0]]