## 1. 파이썬 함수

In [1]:
def add(a,b):
    return a+b

a,b = 3,4
c = add(a,b)
print(c)

7

In [3]:
def add(a,b):
    return a+b

a,b = 3,4
c = add(a,b)
print(c)
#print (c)
d = add(111, 222)
print(d)
#print(d)

7
333

In [5]:
# 1. 매게변수 0, 리턴값 0
def minus(a,b):
    result = a - b
    return result

a = minus(10,4)
print(a)

6

In [6]:
# 2. 매개변수 X, 리턴값 O
def say():
    return 'Hi!'

print(say())

Hi!

In [9]:
#3. 매개변수 O, 리턴값 X
def add(x,y):
    print("%d. %d의 힘은 %d입니다."%(x, y, x+y))

add(12,24)

a = add(3,4)
print(a)

12. 24의 힘은 36입니다.
3. 4의 힘은 7입니다.
None

In [11]:
#4. 매개변수 X, 리턴값X
def say():
    print('HI~')

say()

HI~

In [14]:
# 키워드 매게변수
def sub(a, b):
    return a - b

result = sub(7, 3)
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [16]:
# 가변 매개변수(*매개변수명)
def add_many(*args):
    result = 0
    for i in args:
        result += i
        return result

res1 = add_many(1,2,3,4,5)
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

1
1

In [18]:
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result  # for문 다 끝난 뒤에 리턴해야 함

res1 = add_many(1,2,3,4,5)
print(res1)  # 15 출력

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [19]:
# 덧셈, 곱셈 둘다 연산 가능한 함수
def add_mul(choice, *args):
    if choice == 'add':
        restul = 0
        for i in args:
            result += i

    elif choice == 'mul':
        restul = 0
        for i in args:
            result *= i
    return result

resl = add_mul(1,2,3)
print(res1)

UnboundLocalError: cannot access local variable 'result' where it is not associated with a value

In [21]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i

    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result

res1 = add_mul('add', 1, 2, 3)
print(res1)  # 6 출력됨

6

In [22]:
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i

    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result

res1 = add_mul('add', 1, 2, 3)
print(res1)  # 6 출력됨
res2 = add_mul('mul', 1, 2, 3, 4)
print(res2)  # 24 출력됨 # 곱샘

6
24

In [26]:
# 키워드 가변 매개변수(**매개변수)
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [27]:
# 함수의 리턴값은 하나
def add_and_mul(a,b):
    return a+b, a*b

res = add_and_mul(3,4)
print(res)

(7, 12)

In [28]:
# 함수의 리턴값은 하나
def add_and_mul(a,b):
    return a+b, a*b

res = add_and_mul(3,4)
print(res)

res1, res2 = add_and_mul(3,4)
print("a+b = ",res1)
print("a*b = ",res2)

(7, 12)
a+b =  7
a*b =  12

In [30]:
def add_and_mul(a,b):
    return a+b
    return a*b

res = add_and_mul(2,3)
print(res)

5

In [31]:
#return의 도 다른 쓰임새
def say_nick(nick):
    if nick == '바보':
        return
    print("나의 별명은 %s 입니다."%nick)

say_nick('야호')

나의 별명은 야호 입니다.

In [33]:
# 매개변수 초기값 설정
def sya_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다")
    else:
        print("여자입니다")

# 함수 호출
sya_myself('박종훈', 28)

나의 이름은 박종훈입니다.
나이는 28살 입니다.
남자입니다

In [35]:
#함수의 유효범위
a = 1
def vartest(value):
    a = a+1

#vartest(a)
print(a)

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [36]:
#함수의 유효범위
a = 1
def vartest(value):
    a = a+1

#vartest(a)
print(a)

1

In [37]:
a = 1
def vartest(a):
    a = a+1

vartest(a)# 아무것도 실행 안됨
print(a) # 함수 밖에 있는 a 출력됨

1

In [41]:
# 함수의 유효범위
a = 1
def vartest(x):
x = x+1
  return x

a= vartest(a)
print(a)

IndentationError: expected an indented block after function definition on line 3 (732764166.py, line 4)

In [42]:
# 함수의 유효범위 2.globol 명령어 사용하기
a = 1
def vartest():
    global a # 함수 면에서 a는 전역변수로 변경
    a += 1

#vartest()
print(a)

1

In [44]:
# Lambda 표현식(예악어) 서울 안하고 함수 선언
def add(a,b):
    return a+b

print(add(3,4))

7

In [45]:
# lambda 표현식(예약어) 사용하여 표현
add = lambda a,b : a+b
print(add(3,4))

7

## 2.함수의 활용

####  1) 재귀함수

In [47]:
#반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    for i in range(1, n + 1):
        output *= i
    return output  # 들여쓰기 중요!

print('1! =', factorial(1))
print('2! =', factorial(2))
print('3! =', factorial(3))
print('4! =', factorial(4))
print('5! =', factorial(5))

1! = 1
2! = 2
3! = 6
4! = 24
5! = 120

In [49]:
# 재귀 함수로 팩토리얼 구하기
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print('5! =', factorial(5))

5! = 120

## 2) 리스트 평탄화 재귀함수 만들기

In [52]:
# 반복문으로 리스트 평탄화
def flatten(data):
    output = []
    for item  in data:
        if type(item) == list:
            output += item
        else:
            output.append(item)
    return output

example = [[1,2,3], [4,[5,6]], 7, [8,9]]
print(len(example))
print('원본:' , example)
print('평탄화 :', flatten(example))

4
원본: [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 : [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [53]:
def flatten(data):
    output = []
    for item in data:
        if isinstance(item, list):
            output += flatten(item)  # 재귀 호출
        else:
            output.append(item)
    return output

example = [[1,2,3], [4,[5,6]], 7, [8,9]]
print('원본 :', example)
print('평탄화 :', flatten(example))

원본 : [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
def flatten_once(data):
    output = []
    for item in data:
        if isinstance(item, list):
            output += item  # 한 단계만 펼침
        else:
            output.append(item)
        print(output)  # 중간 결과 출력
    return output

example = [[1,2,3], [4,[5,6]], 7, [8,9]]
print('원본 :', example)
print('평탄화 :', flatten_once(example))

원본 : [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
[1, 2, 3]
[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, [5, 6], 7]
[1, 2, 3, 4, [5, 6], 7, 8, 9]
평탄화 : [1, 2, 3, 4, [5, 6], 7, 8, 9]