In [2]:
a = "Life is too short, You need Python"
a[3]

'e'

### python 문자열을 Python 으로 바꾸려면

In [3]:
a = 'pithon'
a[1]

'i'

In [15]:
number=10
day = "three"
"I ate %d apples, so I was sick for %s days,"(number, day)

<>:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
C:\Users\WD\AppData\Local\Temp\ipykernel_16224\1025069205.py:3: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  "I ate %d apples, so I was sick for %s days,"(number, day)

TypeError: 'str' object is not callable

In [5]:
b ='abc'
b = 'def'
print(b)

def

In [6]:
print(a)

pithon

In [7]:
b = a [0] + 'y' + a[2:] 
print(b)

python

In [10]:
### 문자열 포메팅

In [11]:
"I eat %d apples."%2

'I eat 2 apples.'

In [12]:
:I ead %d apples. "%"abc"

SyntaxError: unterminated string literal (detected at line 1) (193758071.py, line 1)

In [19]:
>>> number = 10

>>> day = "three"

>>> "I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

'I ate 10 apples. so I was sick for three days.'

In [17]:
# 포맷코드를 문자% 를 같이 사용
"error is %d."  "%98"

'error is %d.%98'

In [18]:
"error is %d%%. "%98

'error is 98%. '

In [20]:
"%10s"%"hi"

'        hi'

In [25]:
len(a)

10

In [32]:
a = "%-10s"%"hi"
a

'hi        '

In [33]:
f = "%10.4f"%3.41231234
f

'    3.4123'

In [34]:
len(f)

10

In [39]:
"I eat {} apples.".format(3)

'I eat 3 apples.'

In [51]:
five = 5
"I eat {} apples.".format(five)

'I eat 5 apples.'

In [42]:
number = 3
"I eat{}

In [45]:
"I ate {} apples, so i was sick for {} days.".format(10, "three")

'I ate 10 apples, so i was sick for three days.'

In [46]:
"I ate {0} apples, so i was sick for {1} days.".format(10, "three")

'I ate 10 apples, so i was sick for three days.'

In [50]:
number = 10
day = 3

"I ate{1} apples. so i was sick for {0} dyas.".format(number, day)

'I ate3 apples. so i was sick for 10 dyas.'

In [53]:
number = 10
day = 3
"I ate {number} apples, so I was sick for {day} days.".format(number=number, day=day)

'I ate 10 apples, so I was sick for 3 days.'

In [54]:
"{:10}".format('hi')

'hi        '

In [57]:
"{:^10}".format('hi')

'    hi    '

In [59]:
"{:=^10}".format('hi')

'====hi===='

In [65]:
"{:\10}".format('hi')

ValueError: Unknown format code '\x8' for object of type 'str'

In [64]:
"{:10.4f}".format(3.412341234)

'    3.4123'

In [67]:
"{{and}}".format()

'{and}'

In [69]:
name = '박종훈'
age = 28
f"나의 이름은 (name)입니다. 나이는(age)입니다."

'나의 이름은 (name)입니다. 나이는(age)입니다.'

In [70]:
name = '박종훈'
age = 28
f"나의 이름은 {name}입니다. 나이는{age}입니다."

'나의 이름은 박종훈입니다. 나이는28입니다.'

In [71]:
age = 30
f"나는 내년에 {age+1}살이 됩니다."

'나는 내년에 31살이 됩니다.'

In [ ]:
d = {'name': '박종훈', "age": 30}
f"나의 이름은 {d['name']}입니다. 나이는{d['age']}입니다."

f"{h1:c10}"

f"{"hi">10}"

In [76]:
print(f"(hi":=^10}")
print(f"9hi:|<10)

SyntaxError: closing parenthesis '}' does not match opening parenthesis '(' (2940833615.py, line 1)

In [77]:
f"{{and}}"

'{and}'

In [80]:
#문자열 관련 함수들